<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suites</title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="shortcut icon" type="x-icon" href="/assets/favicon.png">
    <link rel="apple-touch-icon"  href="/assets/favicon.png">
    <link rel="icon" sizes="192x192" href="/assets/favicon.png">
    <link rel="stylesheet" href ="/css/style.css">
    
</head>
<body>
    
    <header>
        <nav>
            <a href="/" class=" <%= isActiveRoute('/', currentRoute) %>"> Suites </a>
            <a href="/login" class=" <%= isActiveRoute('/login', currentRoute) %>"> Login </a>
            <a href="/about" class=" <%= isActiveRoute('/about', currentRoute) %>"> About </a>
            <a href="/contact" class=" <%= isActiveRoute('/contact', currentRoute) %>"> Contact </a>
            <a href="/services" class=" <%= isActiveRoute('/services', currentRoute) %>"> Services </a>
        </nav>
    </header>

    <!-- carousel -->
    <div class="carousel">
        <!-- list item -->
        <div class="list">

            <% productList.forEach(product => { %>
             
            
            <div class="item">
                <img src="<%= product.image %>" alt="<%= product.name %>">
                <div class="content">
                    <div class="author"> SUITES & APARTMENTS </div>
                    <div class="title"> <%= product.name %></div>
                    <div class="topic">$<%= product.price %></div>
                    <div class="des"><%= product.description %> </div>

                    <form action="/bookSuite/<%= product._id %>" method="get"> 
                    <div class="buttons">   
                            <button type="submit">BOOK</button>
                            <button>SEE MORE</button>
                    </div>
                    </form>
                </div>
            </div>

            <% }) %>
          
            
        </div>

        <!-- Thumbnail -->
        <div class="thumbnail">
            <% productList.forEach(product => { %>
             
       
       
            <div class="item">
                <img src="<%= product.image %>" alt="<%= product.name %>">
                <div class="content">
                    <div class="title">
                        <%= product.name %>
                    </div>
                    <div class="des">$ <%= product.price %> </div>
                </div>
            </div>

            <% }) %>

        </div>

        <div class="arrows">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>

        <div class="time"></div>
    </div>
</body>
<script src="scripts/script.js"></script>
</html>