<!DOCTYPE html>
<html lang="en">

<head>
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width= device-width, initial scale= 1.0">
    <title>Sign In</title>

    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="shortcut icon" type="x-icon" href="/assets/favicon.png">
    <link rel="apple-touch-icon"  href="/assets/favicon.png">
    <link rel="icon" sizes="192x192" href="/assets/favicon.png">

    <link rel="stylesheet" href ="/css/login.css">

</head>

<body>

    <header>
        <h2 class="logo"> Logo </h2>
        <nav class="navigation">

            <button class="btnLogin-popup"> Login </button>

            <a href="/" class=" <%= isActiveRoute('/index', currentRoute) %>"> Book Suites </a>
            <a href="/login"  class=" <%= isActiveRoute('/login', currentRoute) %>"> Login </a>
            <a href="/about" class=" <%= isActiveRoute('/about', currentRoute) %>"> About </a>
            <a href="/contact" class=" <%= isActiveRoute('/contact', currentRoute) %>"> Contact </a>
            <a href="/services" class=" <%= isActiveRoute('/services', currentRoute) %>"> Services </a>
            

            
        </nav>
    </header>

    
    <div class="wrapper">

        <span class="icon-close"> <ion-icon name="close">
        </ion-icon></span>

        <div class="form-box">
            <h2> Login </h2>
            <form action="/login" method="post">
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail">
                       </ion-icon>
                    </span>
                    <input type="email" name="email" required>
                    <label> Email</label>
                </div>

                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed">
                    </ion-icon></span>
                    <input type="password" name="password" required>
                    <label> Password</label>
                </div>

                <div class="remember-forgot">
                    <label> <input type="checkbox"> Remember me
                    </label>
                    <a href="forgot-password"> Forgot Password? </a>
                </div>
                <button type="submit" class="btn"> Login</button>
                <div class="login-register"> 
                    <p> Don't have an account? <a href="#"
                        class="register-link"> Register </a></p>
                </div>
            </form>
        </div>
    
   
    








    <div class="form-box register" >
        <h2> Registration </h2>
        <form action="register" method="post">

            <div class="input-box">
                <span class="icon"><ion-icon name="person">
                   </ion-icon>
                </span>
                <input type="text" name="username" required>
                <label> Username </label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="mail">
                   </ion-icon>
                </span>
                <input type="email" name="email" required>
                <label> Email </label>
            </div>

            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed">
                </ion-icon></span>
                <input type="password" name="password" required>
                <label> Password</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed">
                </ion-icon></span>
                <input type="password" name="confirmPassword" required>
                <label> Confirm Password</label>
            </div>

            <div class="remember-forgot">
                <label> <input type="checkbox"> I agree to the terms & conditions </label>
            </div>
            <button type="submit" class="btn"> Register </button>
            <div class="login-register"> 
                <p> Already have an account? <a href="#"
                    class="login-link"> Login </a></p>
            </div>
        </form>
    </div>

    </div> 

    <% if (message) { %>
        <p id="msg" style="color: green;" > <%= message %> </p>
    <% } %>
    <% if (error) { %>
        <p id="msg" style="color: red;"> <%= error %> </p>
    <% } %>
    
    
<div class="footer-container" style="position: fixed; bottom: 0;">
    <%- include('./partials/footer'); -%>
</div>


    <script src="scripts/login.js"></script>
    <script type="module" src="http://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="http://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    

</body>


</html>