
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Store</title>
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

	<link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="shortcut icon" type="x-icon" href="/assets/favicon.png">
    <link rel="apple-touch-icon"  href="/assets/favicon.png">
    <link rel="icon" sizes="192x192" href="/assets/favicon.png">
	
    <link rel="stylesheet" href="../css/dashboard.css">
</head>
<body>

 

    <!-- SIDEBAR-->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-smile'></i>
			<span class="text"> Searched Suite</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="#">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Suite</span>
				</a>
			</li>
 
	 
			<li>
				<a href="/message">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">Message</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-group' ></i>
					<span class="text">Order</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					<span class="text">Settings</span>
				</a>
			</li>

			<form action="/logout" method="post">
				<li>
					<a href="/" class="logout">
						<i class='bx bxs-log-out-circle' ></i>
						<span class="text">Logout</span>
					</a>
				</li>
			</form>
			
		</ul>
	</section>
	<!--SIDEBAR -->




    <!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
	 
			<%- include('./partials/search'); -%>


			
			
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="notification">
				<i class='bx bxs-bell' ></i>
				<span class="num">8</span>
			</a>
			<a href="#" class="profile">
				<img src="img/people.png">
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN --> 
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Searched Suite</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Searched Suite available</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Home</a>
						</li>
					</ul>
				</div>
				

				<a href="/bookings" class="btn-download"> Manage bookings<i class='bx bx-bed' ></i>
					<span class="text">  </span>			
				</a>
				 

			 
			</div>
   </div>

    </div>






<div class="container">
	<div class="list"  >
	 
		 
		<div class="item">
			<img src="<%= product.image %>" alt="">

			<div class="title">
				<%= product.name %>

			</div>
			<div class="price">
				<%= product.price %>
			</div>
			<p style="color: #3C91E6;">  <%= product.dateCreated.toDateString() %></p>
						 				
							
							<form action="/order" method="post">

									<input type="hidden" value=" <%= product.name %>" name="name">	
									<input type="hidden" value=" <%= product._id %>" name="productId">	
									<input type="hidden" value=" <%= product.price %>" name="totalPrice">
							
								<div style="padding: 30px;"> 
									<a href="/bookSuite/<%= product._id %>" onclick="alert('Suite booked!'); " style=" font-weight: 600; padding: 10px;color: aliceblue; background: #9c00ea; border: none; border-radius: 20px;"> BOOK</a>
								</div>	
							</form>

		</div>
 
	</div>


	
	
	
	</div>

</body>

	<script src="/scripts/dashboard.js"></script>

</html>









 