<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Suites</title>

	<link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="shortcut icon" type="x-icon" href="/assets/favicon.png">
    <link rel="apple-touch-icon"  href="/assets/favicon.png">
    <link rel="icon" sizes="192x192" href="/assets/favicon.png">
	
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/dashboard.css">
</head>
<body>

 

    <!-- SIDEBAR-->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bx-bed'></i>
			<span class="text"> Suites</span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="/dashboard">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>	 
			<li class="active">
				<a href="#">
					<i class='bx bxs-bed' ></i>
					<span class="text">Suites</span>
				</a>
			</li>	 
			<li>
				<a href="#">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">Rating</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-group' ></i>
					<span class="text">Payments</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					<span class="text">Settings</span>
				</a>
			</li>

			<form action="/logout" method="post">
				<li>
					<a href="/" class="logout">
						<i class='bx bxs-log-out-circle' ></i>
						<span class="text">Logout</span>
					</a>
				</li>
			</form>
			
		</ul>
	</section>
	<!--SIDEBAR -->




    <!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
	 
			<%- include('../partials/search'); -%>


			
			
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="notification">
				<p> Suites</p> 
				<span class="num"><%= productList.length %></span>  
			</a>
			<a href="#" class="profile">
				<img src="img/people.png">
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN --> 
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Suites</h1>
					<ul class="breadcrumb">
						<li>
							<a href="/dashboard">Suites</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Home</a>
						</li>
					</ul>
				</div>
				

				<a href="/bookings" class="btn-download"> Manage bookings
					<i class='bx bx-bed' ></i>
					<span class="text">  </span>			
				</a>
				 

			 
			</div>
   </div>
    </div>

<div class="container">
	<div class="list"  >
		<% productList.forEach((product) => { %>
		 
		<div class="item">
			<img src="<%= product.image %>" alt="image">

			<div class="title">
				<%= product.name %>

			</div>
			<div class="price">
				N<%= product.price %>
			</div>
			<p style="color: #9c00ea;">  <%= product.dateCreated.toDateString() %></p>
 
								<div style="padding: 30px;"> 
								<a href="/bookSuite/<%= product._id %>"  style=" font-weight: 600; padding: 10px;color: aliceblue; background: grey; border: none; border-radius: 20px;" onclick="alert('Book suite?')"> BOOK</a>
							</div>	
							</form>
		</div>

		<% }) %>
	</div>

	</div>
</body>







	<script src="/scripts/dashboard.js"></script>

</html>









 